<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Style Sheet -->
        <link rel="stylesheet" href="../css/global.css">

        <title>Sixth Assignment</title>
    </head>
    <body>
        <div class="content cites-page-body">
            <div class="container-fluid">
                <div class="col-xs-12">
                    <div class="row justify-content-center">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-wrapper">

                            <header>
                                <nav class="navbar navbar-expand-sm navbar-dark fixed-bottom">
                                    <a class="navbar-brand" href="index_Frontend.html">
                                        <div class="logo-wrapper">
                                            <img src="../site_files/images/logo/logo_design.png" alt="logo">
                                        </div>
                                    </a>
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="examples_page.html">Examples</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="famous_cites_page.html">Famous cites</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="conclusion_page.html">Conclusion</a>
                                        </li>
                                    </ul>
                                </nav>
                            </header>

                            <div class="content-page clearfix">
                                <div class="col-xs-12">
                                    <blockquote cite="#" class="blockquote text-right">
                                        <p>
                                            "Success does not happen by accident, it happens by design"
                                        </p>
                                        <footer class="blockquote-footer">
                                            Gordon Brown, Prime Minister, UK
                                        </footer>
                                    </blockquote>
                                    <blockquote cite="#" class="blockquote text-right">
                                        <p>
                                            “There are three responses to a piece of design – yes, no, and WOW! Wow is the one to aim for.”
                                        </p>
                                        <footer class="blockquote-footer">
                                            Milton Glaser
                                        </footer>
                                    </blockquote>
                                    <blockquote cite="#" class="blockquote text-right">
                                        <p>
                                            “The public is more familiar with bad design than good design. It is, in effect, conditioned to prefer bad design, because that is what it lives with. The new becomes threatening, the old reassuring.”
                                        </p>
                                        <footer class="blockquote-footer">
                                            Paul Rand (IBM, abc, Enron)
                                        </footer>
                                    </blockquote>
                                    <blockquote cite="#" class="blockquote text-right">
                                        <p>
                                            “A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away.”
                                        </p>
                                        <footer class="blockquote-footer">
                                            Antoine de Saint-Exupéry
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <blockquote cite="#" class="blockquote text-right bottom-footer-quote">
                <p>
                    Project for Link Academy
                </p>
                <footer class="blockquote-footer">
                    by Benone Gaita
                </footer>
            </blockquote>
        </div>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script defer src="../js/bootstrap/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <script defer src="../js/fontawesome/fontawesome-all.min.js"></script>
    </body>
</html>
