<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Style Sheet -->
        <link rel="stylesheet" href="../css/global.css">

        <title>Sixth Assignment</title>
    </head>
    <body>
        <div class="content">
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-wrapper">
                    <header>
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <div class="logo-wrapper">
                            <img src="logo_design.png" alt="logo">
                            </div>
                        </div>
                    </header>

                    <div class="content-page clearfix">
                    </div>
        <blockquote cite="#" class="blockquote-reverse">
            <p>
                Project for Link Academy
            </p>
            <footer>
                by Benone Gaita
            </footer>
        </blockquote>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script defer src="../js/bootstrap/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <script defer src="../js/fontawesome/fontawesome-all.min.js"></script>
    </body>
</html>
