<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Style Sheet -->
        <link rel="stylesheet" href="../css/global.css">

        <title>Third Assignment</title>
    </head>
    <body>
        <div class="content">
            <div class="container">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-wrapper">
                    <header>
                        <nav class="navbar navbar-inverse ">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse pull-right" id="myNavbar">
                                    <ul class="nav navbar-nav">
                                        <li><a href="pupin_coils.html"><i class="fas fa-table"></i> Orarul cursurilor scolare</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </header>

                    <div class="content-page clearfix">
                        <table class="table table-responsive table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Ora/Zi</th>
                                    <th>
                                        Luni
                                    </th>
                                    <th>
                                        Marti
                                    </th>
                                    <th>
                                        Miercuri
                                    </th>
                                    <th>
                                        Joi
                                    </th>
                                    <th>
                                        Vineri
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>8:00 - 9:00</td>
                                    <td>fizica</td>
                                    <td>cult. civica</td>
                                    <td rowspan="2">matematica</td>
                                    <td>istorie</td>
                                    <td>geografie</td>
                                </tr>
                                <tr>
                                    <td>9:00 - 10:00</td>
                                    <td>matematica (opt.)</td>
                                    <td>chimie</td>
                                    <td>ed. tehnologica</td>
                                    <td rowspan="2">lb. romana</td>
                                </tr>
                                <tr>
                                    <td>10:00 - 11:00</td>
                                    <td>ed. fizica</td>
                                    <td>istorie</td>
                                    <td>ed. tehnologica</td>
                                    <td>religie</td>
                                </tr>
                                <tr>
                                    <td>11:00 - 12:00</td>
                                    <td>lb. romana (opt.)</td>
                                    <td>geografie</td>
                                    <td>lb. enlgeza</td>
                                    <td>lb. franceza</td>
                                    <td>lb. latina</td>
                                </tr>
                                <tr>
                                    <td>12:00 - 13:00</td>
                                    <td>biologie</td>
                                    <td>lb. franceza</td>
                                    <td>desen/muzica</td>
                                    <td>fizica</td>
                                    <td>lb. engleza</td>
                                </tr>
                                <tr>
                                    <td>13:00 - 14:00</td>
                                    <td>dirigentie</td>
                                    <td>ed. fizica</td>
                                    <td></td>
                                    <td>biologie</td>
                                    <td>chimie</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <blockquote cite="#" class="blockquote-reverse">
            <p>
                Project for Link Academy
            </p>
            <footer>
                by Benone Gaita
            </footer>
        </blockquote>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script defer src="../js/bootstrap/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <script defer src="../js/fontawesome/fontawesome-all.min.js"></script>
    </body>
</html>
