<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- Style Sheet -->
        <link rel="stylesheet" href="../css/global.css">

        <title>Sixth Assignment</title>
    </head>
    <body>
        <div class="content home-page-body">
            <div class="container-fluid justify-content-sm-center">
                <div class="col-xs-12">
                    <div class="row justify-content-center">
                        <div class="col-xs-12 col-sm-10 page-wrapper">
                    <header>
                        <nav class="navbar navbar-expand-sm navbar-dark fixed-bottom">
                            <a class="navbar-brand" href="index_Frontend.html">
                                <div class="logo-wrapper">
                                    <img src="../site_files/images/logo/logo_design.png" alt="logo">
                                </div>
                            </a>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="examples_page.html">Examples</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="famous_cites_page.html">Famous cites</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="conclusion_page.html">Conclusion</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <h1 class="main-page-title">
                        DESIGN PUTS ORDER INTO AN UNIVERSE OF CHAOS
                    </h1>
                </div>
                    </div>
                </div>
            </div>

            <blockquote cite="#" class="blockquote text-right bottom-footer-quote">
                <p>
                    Project for Link Academy
                </p>
                <footer class="blockquote-footer">
                    by Benone Gaita
                </footer>
            </blockquote>
        </div>


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script defer src="../js/bootstrap/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <script defer src="../js/fontawesome/fontawesome-all.min.js"></script>
    </body>
</html>
