@font-face {
    font-family: 'AlfaSlabOne';
    src: url(../fonts/AlfaSlabOne-Regular.ttf);
}
@font-face {
    font-family: 'Righteous';
    src: url(../fonts/Righteous-Regular.ttf)
}
$context: 14;

@media only screen and (max-width: 425px) {
    $context: 12;
}

@function em($pixel) {
    @return ($pixel / $context) * 1em;
}
